<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" (ionChange)="onSwitchPlaces($event)">
    <ion-segment-button value="all">All places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable places</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ loadedPlaces[0].price | currency }}/Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button fill="clear" [routerLink]="['/places/tabs/discover', loadedPlaces[0].id]">
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-virtual-scroll [items]="listLoadedPlaces" approxItemHeight="86px">
          <ion-item
            [routerLink]="['/places/tabs/discover', place.id]"
            *virtualItem="let place"
            detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h1>{{ place.title }}</h1>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
