<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Offer Places</ion-title>
    <ion-buttons slot="primary" routerLink="/places/tabs/offers/new">
      <ion-button><ion-icon name="add-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let place of offersPlaces" #slidingItem>
            <app-offer-item [place]="place"></app-offer-item>
            <ion-item-options slot="start">
              <ion-item-option (click)="onEdit(place.id, slidingItem)">
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
