<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" required email ngModel name="email" #email="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!email.valid && email.touched">
            <ion-label>
              Please enter a correct email
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required ngModel name="password" minlength="6" #password="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!password.valid && password.touched">
            <ion-label>
              The password required at least 6 characters
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button type="button" expand="block" fill="clear" (click)="onSwitchMode()">Switch to {{ isLoginMode ? 'Sign up' : 'Login'}}</ion-button>
          <ion-button type="submit" expand="block" (click)="onLogin()" [disabled]="!f.valid">{{ isLoginMode ? 'Login' : 'Sign up'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
