<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="icon-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingItem>
            <ion-item>
              <ion-label>
                <h1>{{ booking.placeTitle }}</h1>
                <ion-text>Guests: {{ booking.guestNumber }}</ion-text>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="onCancelBooking(booking.id, slidingItem)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
