<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onBookPlace()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input
              type="text"
              ngModel
              name="first-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input
              type="text"
              ngModel
              name="last-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Number of Guests</ion-label>
            <ion-select
              placeholder="Select one"
              ngModel="2"
              name="guest-number"
              required
            >
              <ion-select-option value="1">One</ion-select-option>
              <ion-select-option value="2">Two</ion-select-option>
              <ion-select-option value="3">Three</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label>From Date</ion-label>
            <ion-datetime
              placeholder="From Date"
              [min]="selectedPlace.availableFrom.toISOString()"
              [max]="selectedPlace.availableTo.toISOString()"
              display-format="DD/MM/YYYY"
              picker-format="MMM DD YYYY"
              [ngModel]="preFillDateFrom"
              name="from-date"
              #fromDateCtrl="ngModel"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label>To Date</ion-label>
            <ion-datetime
              placeholder="To Date"
              [min]="fromDateCtrl.value"
              [max]="selectedPlace.availableTo.toISOString()"
              display-format="DD/MM/YYYY"
              picker-format="MMM DD YYYY"
              [ngModel]="preFillDateTo"
              name="to-date"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row size-sm="6" offset-sm="3">
        <ion-col class="ion-text-center">
          <ion-button type="submit" [disabled]="!f.valid || !datesValid"
            >Book!</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
